ul {
  list-style-type: none;
  margin: 0;
  padding: 10;
  background-color:greenyellow;
  
}

nav ul li {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  text-align: left;

  

  
}
header {
  background-color: blue;
  
}
header h1 {
  text-align: center;
  color: whitesmoke;
}

main {
  background-color :#448dee;
}
h6{
  text-align:mid;
}
#fullsc {
  width:100%;
}
footer p{
  text-align: center;
}
footer
{
  background-color: goldenrod;
}
.secph{
  color: brown;
  background-color: yellow;
<<<<<<< HEAD
}
a{
  text-decoration-line: none;
=======
>>>>>>> 946a50a74212210b474178074d6e19c9ce21cbd9
}