ul {
  list-style-type: none;
  margin: 0;
  padding: 10;
  background-color: white;
  
}

li {
  display: inline;
  margin: 10;
  padding: 10px;
  text-align: left;
  
}
header {
  background-color: blue;
  
}
header h1 {
  text-align: center;
}

main {
  background-color :#448dee;
}
h6{
  text-align:mid;
}
